body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #F79F1F;
    text-align: center;
    justify-content: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}

p, ul, li {
    color: #333;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
}

#carrinho {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}

#carrinho-items li {
    margin-bottom: 5px;
}

#menu button {
    background-color: #FF5733;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    align-items: center;
}

#menu ul {
    display: none;
    margin-top: 10px;
}

#menu ul li {
    cursor: pointer;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 25px;
    margin-bottom: 5px;
}

#menu ul li.active,
#menu ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    color: #333;
}
